<% include partials/header %>

<h1>Welcome to YelpCamp Website</h1>

<p> You will see all California Campgrounds Here</p>

<a href="/campgrounds">Explore all California Campgrounds</a>

<% include partials/footer %>