<% include partials/header %>

<form class="form-signin" action="/login" method="POST">
     <h2 class="form-signin-heading">Please sign in</h2>
     <label for="inputEmail" class="sr-only">Username</label>
    <input id="inputEmail" class="form-control" type="text" name="username" placeholder="username" require autofocus>
     <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" class="form-control" type="password" name="password" placeholder="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    
</form>

<% include partials/footer %>

