<% include ../partials/header %>


    

<div class="container">
    
    <header class="jumbotron">
        
<div class="container">
        <h1> Best California CampGround</h1>
        <p>View our handpick campground of California</p>
        
        <p class="btn btn-primary btn-large"> <a href="/campgrounds/new"> Add Camp</a> </p>
       </div>
    </header>


<div class="row text-center" style="display:flex; flex-wrap: wrap">

<% campgrounds.forEach(function(camp){ %>
<div class="col-md-3 col-sm-6">
    <div class="thumbnail"><img src="<%= camp.image %>" >
   
    <div class="caption"> <h4> <%= camp.name %>  </h4>
    <p><a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a></p>
    </div>
</div> </div>


<% }); %>
</div>

<% include ../partials/footer %>
</div>